<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778631314557-l01o4e1amb7gp741vhihoajurf0mc3ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778631314557-l01o4e1amb7gp741vhihoajurf0mc3ve</string>
	<key>API_KEY</key>
	<string>AIzaSyAKjMoXdmlllK-76UawhbDbokHJIIXVSZw</string>
	<key>GCM_SENDER_ID</key>
	<string>778631314557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ConnorOgilvie.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-26140</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-26140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:778631314557:ios:a5509241c40da6a8</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-26140.firebaseio.com</string>
</dict>
</plist>